.project-details-card{

    min-height: 100px;

    display: flex;

    align-items: center;

    justify-content: center;

}

.card{

    padding:30px;

}

.heading-text{

    font-size: 30px;

    color:skyblue;

}

.text{

    font-size: 20px;

    color:skyblue;

}

.text-color{

    color: black;

}


.project-details-card {
    min-height: 100vh;
    display: flex;
    justify-content: center;



}
.card {
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 2px 3px 0px;
    border-top: 5px solid green;
    width: 400px;
    margin-top: 30px;
}