.cards-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
    height: 100vh;
    background-size: cover;

  }

  .card-items{
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    box-shadow: 0px 3px 2px 0px;
    height: 100px;
    width: 20vw;
    border-radius: 10px;
    border-top: 5px solid #44c4a1;
 }

 span {
    color: blue;
    font-size: medium;
 }

 .nav-link {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }



  /* <>
  <div className="container">
  <form>
  <label>Enter Project Name</label>
  <input type="text"/>
  <button type="submit">Submit</button>
  </form>
  </div>
  </> */