
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* import {Route, Switch} from 'react-router-dom'
  import Home from './developerApp/Home'
  import TeamMatches from './developerApp/TeamMatches'
  import NotFound from './developerApp/NotFound'
  import './App.css'
  
  const App = () => (
    <div className="app-container">
      <Switch>
        <Route exact path="/" component={Home} />
        <Route exact path="/team-matches/:id" component={TeamMatches} />
        <Route component={NotFound} />
      </Switch>
    </div>
  )
  
  export default App */
  