
.products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  
  
  .project-heading {
    text-align: center;
  }

