.card-item{
   background-color: bisque;
   margin: 20px;
   padding: 20px;
   list-style-type: none; 
   height: 300px;
   width: 400px;
   border-radius: 10px;
   border-top: 5px solid #44c4a1;
}
.card {
    display: flex;
}

.image {
    width: 80px;
    height: 80px;
    border-radius: 120px;
    border: 2px solid black; 
}
.heading {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
}
.discription {
    color: #64748b;
    font-family: 'Roboto';
    font-size: 14px;
    margin-left: 50%;
}
.disc {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;


}