
.details_container {
    background-color: whitesmoke;
    margin: 20px;
    padding: 30px;
    box-shadow: 0px 2px 4px 0px;
    border-radius: 10px;
}

.top_details {
    display: flex;
    justify-content: space-around;
}
.cards {
    margin-top: 20px;
}
.images {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid black; 
}

.project_container {
    margin-top: 60px;
    margin-bottom: 20px;
}

.project1_container {
    margin-right: 100px;


}

.project2_container {
    margin-left: 100px;

}
.heading {
    font-size: 14px;
    font-weight: 500;
}



/* <div className="project_container">

<div className="project1_container">
<h1 className="heading">PROJECT-1 :- {data.Projects_Name}</h1>  
<h1 className="heading">PROJECT-ROLE :- {data.Projects_Role}</h1> 
<h1 className="heading">TECH-STACK :- {data.Projects_Tech_Stack}</h1> 
<h1 className="heading">PROJECT-ALLOCATION :- {data.Projects_Allocation}</h1>
</div>

<div classNAme="project2_container" >
<h1 className="heading">PROJECT-2 :- {data.Projects2_Name}</h1>
<h1 className="heading">ROLE :- {data.Projects2_Role}</h1>
<h1 className="heading">TECH-STACK :- {data.Projects2_Tech_Stack}</h1> 
<h1 className="heading">PROJECT-ALLOCATION :- {data.Projects2_Allocation}</h1>
</div> */