.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .website-logo {
    width: 110px;
    margin-left: 35%;
  }
  .heading {
    color: blue;
    font-size: 26px;
    text-align: center;
  }
  

.form{
    width: 30vw;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px;
    padding: 20px;
    border-top: 4px solid black;
  }
  .form:hover {
    border-top: 4px solid green;
  }
  .label_form {
    font-size: 18px;
    font-weight: 500;
    color: blue;
  }
  input {
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    background-color: white;
    width: 100%;
  }
  .login_button {
    background-color: blue;
    color: white;
    width: 100%;
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
  }
  .label-container {
    margin-bottom: 10px;
  }
  
 

  .pa_container {
    display: flex;
  }
  
  .hide {
    height: 16px;
    margin-top: 30px;
    color: black;
  }
  .hide:hover {
    color: blue;
  }
  .member_container {
    display: flex;
  }
  .member_button {
    background-color: transparent;
    height: 30px;
    color: blue;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    margin-top: 18px;
    margin-left: 40px;
    border: 1px solid transparent
;
  }
  h4 {
    color: brown;
  }

  .paragraph  {
    color: black;
    font-size: 16px;
  }


  /* // <div className="label-container">
        // <label htmlFor='password' className="label_form">Password :-</label> <br/>
        // <input type="password" name="email" 
        // value={values.email}
        // onChange={onChangeEvent} 
        // />
        // </div> */