.home-container {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    background-size: cover;
    max-height: 100vh;
    background-size: cover;
  }
  
  @media screen and (min-width: 768px) {
    .home-container {
    background-color: whitesmoke;
    background-size: cover;
    height: 100vh;
    }
  }
  .aifa_logo {
    width: 65px;
    height: 80px;
    
  }
  
  @media screen and (min-width: 768px) {
    .aifa_logo {
      width: 120px;
      height: 66px;
    }
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .heading {
    color: black;
    font-family: 'Bree Serif';
    font-weight: 600;
    font-size: 26px;
    margin-left: 44%;
  }
  hr {
    height: 0px;
    border: 1px solid #44c4a1;
    width: 96vw;

  }
  

  /* .teams-list {
    width: 90%;
    max-width: 600px;
  }
  
  @media screen and (min-width: 768px) {
    .teams-list-container {
      width: 90%;
      max-width: 1110px;
    }
  }
  
  
  
  
  
  
  
  @media screen and (min-width: 768px) {
    .ipl-dashboard-heading {
      font-size: 72px;
      margin-left: 16px;
    }
  }
  
  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
  }
  
  .teams-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  } */