.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .back_button {
    margin-left: 80%;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid blue;
    height: 30px;
    width: 80px;

    color: aliceblue;
    padding: 4px;
  }

  .nav-link {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  .headingsss {
    font-size: 22px;
    color: white;
    text-align: center;
  }
  

  .developer_container {
    
    background: rgba(0, 0, 0, 0.85);
  }